.wrapper{
    width: 100vw;
    display: flex;
    align-items: center;
    height: 4vw;
    background-color: #34393D;
    justify-content: space-between;
    padding-left: 2vw;
    padding-right: 2vw;
    color: #969FA1;
    font-size: 1vw;

    &>nav{
        display: flex;
        align-items: center;
        height: 100%;
        &>.navigatePoint{      
            height: 100%;
            display: flex;
            margin-right: 4vw;
            align-items: center;
            justify-content: center;
            & > a{
                text-align: center;
                &.active{
                    color: #E8EDEE;
                    cursor: pointer;
                }
                &.nonActive{
                    color: #b5bec0;
                    cursor: default;
                }
            }
        }
    }
    &>div{
        min-width: 6vw;
        text-align: center;
        cursor: pointer;
        transition: color 0.3s ease-in-out;
        &:hover{
            color: #E8EDEE;
        }
    }
}